<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ORANGE HRM SUITES">
    
    <test name="LandingTests">
        <parameter name="browser" value="Chrome"/>
    <classes>
        <class name="com.qa.tests.LandingPageTests"/>
    </classes>
    </test>

    <test name="ForgotPasswordTests">
        <parameter name="browser" value="Edge"/>
        <classes>
            <class name="com.qa.tests.ForgotPasswordPageTests"/>
        </classes>
    </test>
</suite>